* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: #c9d1d9;
}

header {
    background: #161b22;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #58a6ff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #58a6ff;
    margin-bottom: 1rem;
}

ul {
    list-style: square inside;
    margin-left: 1rem;
}

.project-card {
    background: #161b22;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid #58a6ff;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    background: #0d1117;
    color: #c9d1d9;
    border: 1px solid #30363d;
}

button {
    background: #238636;
    color: white;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #161b22;
}

.center {
    text-align: center;
    padding-top: 3rem;
}
